# OpenAlex asks for email for polite use (optional but recommended)
OPENALEX_EMAIL=
OPENALEX_API_KEY=

# Overton API key
OVERTON_API_KEY=

# LLM configuration
LLM_SERVICE=OpenAI
OPENAI_API_KEY=
CHATBOT_MODEL=gpt-5-mini
CHATBOT_REASONING_EFFORT=minimal

# Clerk auth
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_JWT_ISSUER=
# Organisation whose projects are visible to all
DEMO_ORG_ID=

# Database
SUPABASE_URL=
SUPABASE_KEY=

# Allowed incoming sources to backend API calls
BACKEND_CORS_ORIGINS = your-app.url,http://localhost:3000

# Development/testing
MOCK_OPENAI=false

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=
