# OpenAlex asks for email for polite use (optional but recommended)
OPENALEX_EMAIL=

# MediaCloud
MEDIACLOUD_API_KEY=

# Overton API key
OVERTON_API_KEY=

# LLM configuration
LLM_SERVICE=OpenAI
OPENAI_API_KEY=

# Clerk auth
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_JWT_ISSUER=

# Database
DATABASE_URL=

# Allowed incoming sources to backend API calls
BACKEND_CORS_ORIGINS = your-app.url,http://localhost:3000
