*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore local bundling for run_migrations, if present
infra/deploy_functions/run_migrations/*
!infra/deploy_functions/run_migrations/run_migrations.py
!infra/deploy_functions/run_migrations/migrations